@page "/countries"

<h3>@Localizer["Countries"]</h3>

<div class="mb-3">
    <a class="btn btn-sm btn-primary" href="/countries/create">@Localizer["New"] @Localizer["Country"]</a>
</div>

<GenericList MyList="countries">
    <Body>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>@Localizer["Country"]</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var country in countries!)
                {
                    <tr>
                        <td>
                            @country.Name
                        </td>
                        <td>
                            <a class="btn btn-warning" href="/countries/edit/@country.Id">@Localizer["Edit"]</a>
                            <button class="btn btn-danger" @onclick=@(() => DeleteAsync(country))>@Localizer["Delete"]</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </Body>
</GenericList>

@code{

    [Inject] private IStringLocalizer<Literals> Localizer { get; set; } = null!;
    [Inject] private NavigationManager NavigationManager { get; set; } = null!;
    [Inject] private SweetAlertService SweetAlertService { get; set; } = null!;
    [Inject] private ICountryRepository Repository { get; set; } = null!;

    private List<Country>? countries;

    protected override async Task OnInitializedAsync()
    {
        await LoadAsync();

    }

    private async Task LoadAsync()
    {
        countries = await Repository.GetAllAsync();
    }

    private async Task DeleteAsync(Country country)
    {
        var result = await SweetAlertService.FireAsync(new SweetAlertOptions
        {
            Title = Localizer["Confirmation"],
            Text = string.Format(Localizer["DeleteConfirm"], Localizer["Country"], country.Name),
            Icon = SweetAlertIcon.Question,
            ShowCancelButton = true,
            CancelButtonText = Localizer["Cancel"]
        });

        var confirm = string.IsNullOrEmpty(result.Value);

        if (confirm)
        {
            return;
        }
        try
        {
            await Repository.DeleteByIdAsync(country);
        }
        catch (Exception ex)
        {

            await SweetAlertService.FireAsync(Localizer["Error"], ex.Message.ToString(), SweetAlertIcon.Error);
        }

        await LoadAsync();
        var toast = SweetAlertService.Mixin(new SweetAlertOptions
        {
            Toast = true,
            Position = SweetAlertPosition.BottomEnd,
            ShowConfirmButton = true,
            Timer = 3000,
            ConfirmButtonText = Localizer["Yes"]
        });
        toast.FireAsync(icon: SweetAlertIcon.Success, message: Localizer["RecordDeletedOk"]);
    }

}